
body {
  background-color: #4088d4;
  font-family: Garamond, serif;
}

a {
  text-decoration: none;
}


.container {
  display: flex;
  flex-direction: row;
}

header {
  height: 110px;
}

header h1 {
  float:left;
  font-weight: bold;
  font-family: Papyrus, fantasy;
  color: lightblue;
  /* font-style: italic; */
  font-size: 400%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-decoration {
  height: 150px;
  width: 100%;
  background-color: azure;
  background-image: url("../img/header.jpg");
}

.header-nav {
  float: left;
}

.header-nav a {
  padding-left: 10px;
  padding-right: 10px;
  color: lightblue;
}

.header-nav ul {
  position: absolute;
  list-style-type: none;
}

.header-nav li {
  position: relative;
  float: left;
}


.content-block {
  float:left; 
  position: relative;
  background-color: rgba(135, 206, 250, .4);
  color: darkblue;
  box-shadow: 5px 10px 20px rgba(30,30,30, .5);
  margin: 20px;
  padding: 10px;
}

.content-block-home {
  float:left; 
  width: 200px;
  height: 300px;
}

.content-block-single {
  width: 500px; 
}


.content-block-page {
  width: 70%; 
}

.content-block h1 {
  font-weight: bold;
}

.content-block a {
  color: darkblue;  
}

.back-nav {
  position: absolute; 
  right: 10px;
  bottom: 10px;
}

aside {
  position: relative;
  width: 220px;
  height: 220px;
  background-color: whitesmoke;
  box-shadow: 5px 10px 20px rgba(30,30,30, .5);
  margin: 20px;
}

footer {
  clear: both;
  position: relative;
}


a:hover {
  font-weight: bold;
  color: white;
}
